<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    Accès interdit

    <br /><br />

    <a asp-controller="Home" asp-action="Index">Home</a>
</body>
</html>