@model VisitMyCities.Models.ProfilViewModel

@{
    ViewData["Title"] = "Profil Utilisateur";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <h1 style="margin-bottom:50px; margin-top:100px">Mon profil utilisateur</h1>

    <div>
        <hr />
        @*<dl class="row">
            <dt class="col-sm-2">
                Mon profil utilisateur
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.NomUtilisateur)
            </dd>
        </dl>
        <button type="submit" class="btn-success">Ajouter un bâtiment</button>*@

        <div class="card-deck" style="margin:20px">

           
                <div style="width:300px; text-align:center; border: 1px;">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@Html.DisplayFor(model => model.Utilisateur.UserName) </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title"></div>
                            <img src="~/assets/img/avatar_1280.png" style="width:200px"/>

                        </div>
                        <div class="card-footer">
                            @*<div class="card-title">@item.Ville.NomVille</div>*@
                            <button type="submit" class="btn-success">Modifier</button>
                        </div>

                    </div>
                </div>

            
        </div>
    </div>
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.ListeDeVoyage.IdListe">Modifier</a> |
        <a asp-action="Index">Retour</a>*@
    </div>
    <p>
        
        <a asp-action="Create">Retour à l'accueil</a>
    </p>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
</body>