@model VisitMyCities.DataModel.BusinessObjects.Categorie

@{
    ViewData["Title"] = "Edit";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="masthead">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Renommer cette catégorie ?</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CategorieId" />
                            <div class="form-group">
                                <label asp-for="NomCategorie" class="control-label"></label>
                                <input asp-for="NomCategorie" class="form-control" />
                                <span asp-validation-for="NomCategorie" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>


                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
                <div>
                    <a asp-action="Index">Retour à la liste</a>
                </div>
            </div>
        </div>
    </header>
</body>
