@model VisitMyCities.DataModel.BusinessObjects.ListeDeVoyage

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Supprimer cette liste ?</h3>
<div>
    <h4>ListeDeVoyage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TitreListe)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TitreListe)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdListe" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
